body {
	font-family: 'Francois One', sans-serif;
}


/*************************************/
/* NAV BAR */
/*************************************/
ul.navbar {
    list-style-type: none;
    margin: 0 ;
    padding: 0;
    overflow: hidden;
}

/* Float the list items side by side */
ul.navbar li {
	float: left;
}

/* Style the links inside the list items */
ul.navbar li a {
    display: inline-block;
    border: 1px solid black;
    min-width: 100px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

a.activePage {
	background-color: darkgray;
	color: white;
}


/*************************************/
/* HEADERS */
/*************************************/
h1 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.25em;
}

/*************************************/
/* CARD STYLING for Employee Page, Products Page */
/*************************************/
article {
	max-width: 40%;
	display: inline-block;
	flex-wrap: wrap;
	margin-top: 0;
	justify-content: space-around;
}

p {
	text-align: justify;
	margin: 5%;
}

.productPic, .employeePic {
	max-width: 200px;
	max-height: 200px;
	display: inline-block;
	justify-content: space-around;
	margin: 0 0 0 5%;
}

div.darkBox {
	color: #F8F8FF;
	font-weight: bold;
	border: 5px solid black;
	background-color: darkgray;
	border-radius: 5%;
	margin: 10% auto;
}

div.lightBox {
	background-color: #F8F8FF;
	color: black;
	font-weight: bold;
	font-size: .75em;
	border: 3px solid black;
	border-radius: 5%;
	opacity: .85;
	width: 70%;
	margin: 0 auto;
	word-wrap: break-word;
}

.productPic {
	max-width: 70px;
}

.employeePic {
	max-width: 100px;
}


/*************************************/
/* COLUMNS for Dongles Talk page */
/*************************************/
.twoCols {
	height: 200px;
	overflow: auto;
	padding-bottom: 100px;
}

section.leftCol {
	width: 60%;
	float: left;
}

section.rightCol {
	width: 40%;
	float: right;
}

section.bottomSpan {
	display: block;
	width: 100%;
	border: 1px solid black;
	/*padding-top: 10px;*/
	float: center;
	vertical-align: bottom;
}

section.bottomSpan p {
	margin-top: 1%;
}
